In [1]:
import pandas as pd
import pandas_datareader.data as web
import datetime as dt
import numpy as np

ModuleNotFoundError: No module named 'pandas_datareader'

## Absolute Momentum
If absolute momentum of risky asset is negative, sell risky asset and buy safe asset. <br>
If absolute momentum of risky asset is positive, buy risky asset and sell safe asset.

In [64]:
risky = 'SPY'
safe = 'IEF'

start = dt.datetime(1970, 1, 1)
end = dt.datetime.today()

df = pd.DataFrame()

df[risky] = web.DataReader(risky, 'yahoo', start, end)['Adj Close']
df[safe] = web.DataReader(safe, 'yahoo', start, end)['Adj Close']
df.dropna(inplace=True)
df.head(40)

                  SPY        IEF
Date
2002-07-30  63.731754  47.034599
2002-07-31  63.885975  47.466026
2002-08-01  62.217999  47.661564
2002-08-02  60.823380  48.029713
2002-08-05  58.706947  48.271317
2002-08-06  60.683224  47.880165
2002-08-07  61.741463  48.029713
2002-08-08  63.738781  47.862858
2002-08-09  63.977005  48.219501
2002-08-12  63.507507  48.317318
2002-08-13  62.351177  48.702705
2002-08-14  64.628799  48.558907
2002-08-15  65.525841  48.277088
2002-08-16  65.329628  47.960701
2002-08-19  66.857414  48.006702
2002-08-20  66.149582  48.449619
2002-08-21  67.102646  48.328823
2002-08-22  67.754448  48.069969
2002-08-23  66.296715  48.288536
2002-08-26  66.759262  48.311577
2002-08-27  65.988358  48.167789
2002-08-28  64.544693  48.346046
2002-08-29  64.572746  48.570415
2002-08-30  64.320473  48.662453
2002-09-03  61.867611  49.193470
2002-09-04  62.750626  49.176136
2002-09-05  62.217999  49.372349
2002-09-06  63.073006  48.991394
2002-09-09  63.535503  48.922169
2002-09-10  64.264397  49.095333
2002-09-11  63.864937  48.916409
2002-09-12  62.687584  49.170357
2002-09-13  62.841717  49.401215
2002-09-16  62.995907  49.418549
2002-09-17  61.552273  49.580162
2002-09-18  60.935528  49.637901
2002-09-19  59.358727  49.886086
2002-09-20  59.378418  49.868721
2002-09-23  58.892696  50.151581
2002-09-24  57.942333  50.330524

In [65]:
df = df.resample('Y').agg(lambda x: x[-1])
df = df.iloc[:-1]
df

                   SPY         IEF
Date
2002-12-31   62.414921   50.597012
2003-12-31   80.004494   53.282986
2004-12-31   88.563347   55.478069
2005-12-31   92.839409   56.941803
2006-12-31  107.550026   58.374477
2007-12-31  113.084785   64.433067
2008-12-31   71.475266   75.977829
2009-12-31   90.310234   70.968414
2010-12-31  103.907471   77.610909
2011-12-31  105.876511   89.756783
2012-12-31  122.806519   93.045502
2013-12-31  162.482605   87.378830
2014-12-31  184.358871   95.302444
2015-12-31  186.634430   96.739487
2016-12-31  209.026611   97.708420
2017-12-31  254.396698  100.202797
2018-12-31  242.773315  101.192551
2019-12-31  318.576508  109.317833

In [66]:
for i in range(1, len(df.index)):
    df.loc[df.index[i], 'SPY SCORE'] = df.iloc[i, 0] - df.iloc[i-1, 0]
    df.loc[df.index[i], 'IEF SCORE'] = df.iloc[i, 1] - df.iloc[i-1, 1]

df

                   SPY         IEF  SPY SCORE  IEF SCORE
Date
2002-12-31   62.414921   50.597012        NaN        NaN
2003-12-31   80.004494   53.282986  17.589573   2.685974
2004-12-31   88.563347   55.478069   8.558853   2.195084
2005-12-31   92.839409   56.941803   4.276062   1.463734
2006-12-31  107.550026   58.374477  14.710617   1.432674
2007-12-31  113.084785   64.433067   5.534760   6.058590
2008-12-31   71.475266   75.977829 -41.609520  11.544762
2009-12-31   90.310234   70.968414  18.834969  -5.009415
2010-12-31  103.907471   77.610909  13.597237   6.642494
2011-12-31  105.876511   89.756783   1.969040  12.145874
2012-12-31  122.806519   93.045502  16.930008   3.288719
2013-12-31  162.482605   87.378830  39.676086  -5.666672
2014-12-31  184.358871   95.302444  21.876266   7.923615
2015-12-31  186.634430   96.739487   2.275558   1.437042
2016-12-31  209.026611   97.708420  22.392181   0.968933
2017-12-31  254.396698  100.202797  45.370087   2.494377
2018-12-31  242.773315  101.192551 -11.623383   0.989754
2019-12-31  318.576508  109.317833  75.803192   8.125282

In [77]:
for i in range(1, len(df.index)):
    if df.loc[df.index[i], 'SPY SCORE'] > 0:
        df.loc[df.index[i], 'SIGNAL'] = 'buy'
    else:
        df.loc[df.index[i], 'SIGNAL'] = 'sell risky and buy safe'

In [78]:
df

,SPY,IEF,SPY SCORE,IEF SCORE,SIGNAL
Date,,,,,
2002-12-31,62.414921,50.597012,NaN,NaN,NaN
2003-12-31,80.004494,53.282986,17.589573,2.685974,buy
2004-12-31,88.563347,55.478069,8.558853,2.195084,buy
2005-12-31,92.839409,56.941803,4.276062,1.463734,buy
2006-12-31,107.550026,58.374477,14.710617,1.432674,buy
2007-12-31,113.084785,64.433067,5.534760,6.058590,buy
2008-12-31,71.475266,75.977829,-41.609520,11.544762,sell risky and buy safe
2009-12-31,90.310234,70.968414,18.834969,-5.009415,buy
2010-12-31,103.907471,77.610909,13.597237,6.642494,buy
2011-12-31,105.876511,89.756783,1.969040,12.145874,buy
2012-12-31,122.806519,93.045502,16.930008,3.288719,buy
2013-12-31,162.482605,87.378830,39.676086,-5.666672,buy
2014-12-31,184.358871,95.302444,21.876266,7.923615,buy
2015-12-31,186.634430,96.739487,2.275558,1.437042,buy
2016-12-31,209.026611,97.708420,22.392181,0.968933,buy
2017-12-31,254.396698,100.202797,45.370087,2.494377,buy
2018-12-31,242.773315,101.192551,-11.623383,0.989754,sell risky and buy safe
2019-12-31,318.576508,109.317833,75.803192,8.125282,buy

In [86]:
returns = []
posRisky = 0
posSafe = 0

for i in range(1, len(df.index)):
    date = df.index[i]
    riskyPrice = df.loc[date, risky]
    safePrice = df.loc[date, safe]
    mom_signal = df.loc[date, 'SIGNAL']

    if (mom_signal == 'buy') and (posRisky == 0):

        if posSafe > 0:  # we have safe position that we need to sell
            safeSell = safePrice
            ret = (safeSell - safeBuy)/safeBuy
            print("sell safe price: " + str(safeSell))
            print("safe position return: " + str(ret))
            print("="*15)
            returns.append(ret)
            posSafe = 0

        # buy risky asset
        riskyBuy = riskyPrice
        print("buy risky price: " + str(riskyBuy))
        posRisky = 1

    elif mom_signal == 'sell risky and buy safe' and (posRisky > 0):

        # sell risky asset
        riskySell = riskyPrice
        ret = (riskySell-riskyBuy)/riskyBuy
        print("sell risky price:" + str(riskySell))
        print("risky position return: " + str(ret))
        print("="*15)
        returns.append(ret)
        posRisky = 0

        # buy safe asset
        safeBuy = safePrice
        print("buy safe price: " + str(safeBuy))
        posSafe = 1

    if (i == len(df.index) - 1) and ((posRisky > 0) or (posSafe > 0)):
        if posRisky > 0:
            riskySell = riskyPrice
            ret = (riskySell-riskyBuy)/riskyBuy
            print("sell risky price:" + str(riskySell))
            print("risky position return: " + str(ret))
            print("="*15)
            returns.append(ret)
            posRisky = 0
        else:
            safeSell = safePrice
            ret = (safeSell - safeBuy)/safeBuy
            print("sell safe price: " + str(safeSell))
            print("safe position return: " + str(ret))
            print("="*15)
            returns.append(ret)
            posSafe = 0


print("return list: {}".format(returns))

buy risky price: 80.0044937133789
sell risky price:71.47526550292969
risky position return: -0.10660936423153569
===============
buy safe price: 75.97782897949219
sell safe price: 70.96841430664062
safe position return: -0.06593258507299143
===============
buy risky price: 90.31023406982422
sell risky price:242.7733154296875
risky position return: 1.6882148842841553
===============
buy safe price: 101.19255065917969
sell safe price: 109.31783294677734
safe position return: 0.08029526120913695
===============
buy risky price: 318.5765075683594
sell risky price:318.5765075683594
risky position return: 0.0
===============
return list: [-0.10660936423153569, -0.06593258507299143, 1.6882148842841553, 0.08029526120913695, 0.0]